@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: rgb(232, 206, 176);
  --primary-text-color:  #3b3630;
  --secondary-text-color: #ffffff;
  /* --dark-blue: #117170; */
  --dark-blue: #082529;
  --light-blue: #0E918C;
  --secondary: #532B2B;
  --terciary: #F14D25;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.5s ease-in-out forwards;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

html{
  scroll-behavior: smooth;
}

body {
  color: var(--primary-text-color);
  background: var(--primary);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 24px;
}

.hero-section {
  background-image: url('/group.jpg');
  background-size: cover;
  background-position: 50% 35%;
  position: relative;
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
}